# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Editores / IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs e temporários
*.log
npm-debug.log*

# Dependências / builds locais (se forem usadas futuramente)
node_modules/
dist/
build/
